<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="PortForwarder.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <PortForwarder.Properties.Settings>
            <setting name="Lifetime" serializeAs="String">
                <value>80</value>
            </setting>
            <setting name="RefreshInterval" serializeAs="String">
                <value>60</value>
            </setting>
            <setting name="Protocol" serializeAs="String">
                <value>TCP</value>
            </setting>
            <setting name="PublicPort" serializeAs="String">
                <value>4444</value>
            </setting>
            <setting name="PrivatePort" serializeAs="String">
                <value>4444</value>
            </setting>
            <setting name="PortsLinked" serializeAs="String">
                <value>True</value>
            </setting>
        </PortForwarder.Properties.Settings>
    </userSettings>
</configuration>